.day-task, 
.priority-task {
    background-color: white;
    border-radius: 3px;
    cursor: pointer;
    height: 45px;
    width: 100%;
}

.day-task {
    align-items: center;
    justify-content: flex-start;
    /* Descendants: */
    display: flex;
    justify-content: space-between;
}


.inner-container {
    /* background-color: aqua; */
    height: 85%;
    overflow: scroll;
    width: 85%;
}


.inner-container > .project-container:not(:first-child),
.inner-container > .priority-group:not(:first-child) {
    margin-top: 15px;
}


.priority-group, 
.project-container {
    /* Descendants: */
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.priority-group-heading,
.project-heading {
    font-weight: bold;
}


.priority-task {
    /* Descendants: */
    align-items: center;
    display: grid;
    grid-template-columns: 15fr 2fr 1fr;
}


.priority-task svg {
    justify-self: end;
}


.priority-tasks, 
.project-tasks {
    /* Descendants: */
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.tasks {
    
    /* Descendants */
    display: grid;
    place-items: center;
}


::-webkit-scrollbar {
    display: none;
}
