:root {
    font-size: 16px;
    --font-family: "Helvetica Neue Light",  "Nimbus Sans Regular", sans-serif, system-ui;
}


* {
    box-sizing: border-box;
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}


body {
    height: 100vh;
    width: 100vw;

    /* Descendants: */
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 60px 1fr;
}


.add-task-btn {
    background-color: #fe5a4c;
    border-style: none;
    border-radius: 5px;
    color: #f8f4f4;
    height: 50px;
    width: 100px;
}


.add-task-btn:hover,
.add-task-form-buttons button:hover {
    cursor: pointer;
}


.add-task-form {
    padding: 0px 25px 25px 25px;
    margin-top: 7px;
}


.add-task-form-buttons {
    height: 35px;
    margin-top: 15px;

    /* Descendants: */
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}


.add-task-form-buttons button {
    border-style: none;
    border-radius: 5px;
    width: 75px;
}


.add-task-form-buttons button:first-child {
    background-color: #f8f4f4;
    color: black;
}


.add-task-form-buttons button:nth-child(2) {
    background-color: #fe5a4c;
    color: #f8f4f4;
}


dialog::backdrop {
    background-color: #aeaeae;
    opacity: 0.75;
}


.create-task-dialog {
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    height: 450px;
    width: 750px;

    /* Positioning */
    position: fixed;
    top: 55%;
    left: 60%;
    transform: translate(-50%, -50%);

}


.create-task-dialog hr {
    margin-top: 5px;
    width: 100%;
}


.dialog-items-container {

     /* Descendants: */
    display: grid;
    gap: 5px;
    grid-template-rows: 50px 1fr;
}


.date {
    height: 30px;
    width: 100%;

    /* Descendants: */
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr; 
}


.date > h6 {
    justify-self: center;
}


.due-dates {

    /* Descendants: */
    align-content: center;
    display: grid;
    gap: 7px;
    
}


.folder-icon {
    justify-self: center;
}


.form-item {
    display: flex;
    flex-direction: column;
}


.form-item input, 
.form-item select {
    
    height: 50px;
}


.form-item > textarea {
    height: 100px;
    resize: none;
    width: 100%;
}


@font-face {
    font-family: "Helvetica Neue Light";
    src:
        url(../assets/fonts/helveticaneuelight-webfont.woff2),
        url(../assets/fonts/helveticaneuelight-webfont.woff);
}   


@font-face {
    font-family: "Nimbus Sans Regular";
    src: url(../assets/fonts/nimbussanl-reg-webfont.woff2),
         url(../assets/fonts/nimbussanl-reg-webfont.woff); 
}


h2 {
    font-size: 0.93rem;
}


.header {
    background-color: #fe5a4c;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}


hr {
    border-width: 0.5px;
    color: #f8f4f4;
    margin: 0 auto;
    text-align: center;
    width: 75%;
}


input[type=date]::-webkit-datetime-edit {
    color: transparent;
    place-self: center;
}

input[type=date]:focus::-webkit-datetime-edit {
    color: black !important;
}


.main-content {
    background-color: #f8f4f4;
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    /* Descendants: */
}

option {
    color: #aeaeae;
}


.projects-container {
    height: 100%;
    width: 100%;
}


.select-input-group{

    margin-bottom: 25px;

    /* Descendants: */
    column-gap: 25px;
    row-gap: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

}


.sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    /* Descendants: */
    display: grid;
    grid-template-rows: 200px 1fr 50px;
}


.sidebar-footer {

    /* Descendants: */
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr; 
}


.sidebar-footer > h2 {
    color: #fe5a4c;
}


.task-list {
    height: 100%;
    display: grid;
    grid-template-rows: 100px 1fr;
}


.task-form-container {
    height: 100px;
    width: 100%;

    /* Descendants */
    display: grid;
    place-items: center;
}


